@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 230px;
  padding: 5px 20px;
  background-color: $menu-bg;
  // border: 1px solid red;
  overflow-y: auto;
  z-index: 100;

  @include lg {
    position: static;
    width: auto;
    border: none;
    padding: 0;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;

    .logoDim {
      height: 100px;
      width: 100px;
    }
  }

  .item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
    // margin-bottom: 20px;
    padding-left: 15px;

    @include lg {
      margin-top: 30px;
      gap: 15px;
      padding-left: 0;
    }
  }

  .listItem {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    font-family: 'Inter';
    font-weight: 500;

    &:active {
      color: #009cbd;
    }

    .listItemTitle {
      @include lg {
        display: none;
        padding: 0;
        border: 1px solid black;
      }
    }
  }

  .signature {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center; // justify-content: ;
    @include lg {
      display: none;
    }
  }
}
